{#  -*- coding: utf-8 -*- #}

{% macro _linkedin() %}
<a href="https://www.linkedin.com/in/kai-norman-clasen/t" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white&color=1974D2" /></a>
{% endmacro%}

{% macro _twitter() %}
<a href="https://twitter.com/kai_tub" target="_blank"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white&color=1974D2" /></a>
{% endmacro %}

{% macro _github() %}
<a href="https://kai-tub.github.io/" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white&color=1974D2" /></a>
{% endmacro %}

{% macro _bmc() %}
<a href="https://kai-tub.github.io/" target="_blank"><img alt="Github" src="https://img.shields.io/badge/Support%20Me-buymeacoffee.svg?&style=for-the-badge&logo=buymeacoffee&logoColor=black&color=ffdd00" /></a>
{% endmacro %}

{% macro html_footer() %}
    {% if content_footer %}
        <footer id="footer" class="flex flex-col justify-center bg-neutral-focus text-neutral-content items-center">
            <div class="my-2">{{ content_footer }}</div>
            {{ template_hooks['page_footer']() }}
            <div class="flex justify-around items-center flex-wrap w-full mx-auto">
                <div class="btn btn-ghost px-1">
                    {{ _bmc() }}
                </div>
                <div class="flex items-center justify-center flex-wrap">
                    <div class="btn btn-ghost px-1">
                        {{ _github() }}
                    </div>
                    <div class="btn btn-ghost px-1">
                        {{ _twitter() }}
                    </div>
                    <div class="btn btn-ghost px-1">
                        {{ _linkedin() }}
                    </div>
                </div>
            </div>
        </footer>
    {% endif %}
{% endmacro %}
