{#  -*- coding: utf-8 -*- #}

{% macro _linkedin() %}
<a href="https://www.linkedin.com/in/kai-norman-clasen/t" target="_blank" class="btn btn-ghost px-1"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white&color=1974D2"/></a>
{% endmacro%}

{% macro _twitter() %}
<a href="https://twitter.com/kai_tub" target="_blank" class="btn btn-ghost px-1"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white&color=1974D2" /></a>
{% endmacro %}

{% macro _github() %}
<a href="https://kai-tub.github.io/" target="_blank" class="btn btn-ghost px-1"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white&color=1974D2" /></a>
{% endmacro %}

{% macro _bmc() %}
<a href="https://kai-tub.github.io/" target="_blank" class="btn btn-ghost px-1"><img alt="Github" src="https://img.shields.io/badge/Support%20Me-buymeacoffee.svg?&style=for-the-badge&logo=buymeacoffee&logoColor=black&color=ffdd00"/></a>
{% endmacro %}

{% macro html_footer() %}
    {% if content_footer %}
        <footer id="footer" class="bg-neutral-focus text-neutral-content w-full">
        <div class="flex flex-col justify-center items-center mx-auto">
            <div class="flex flex-col w-3/4 md:flex-row justify-between items-center text-center flex-wrap">
                <div>
                    {{ _bmc() }}
                </div>
                <div class="flex flex-col md:flex-row gap-1 flex-wrap md:items-start px-1">
                {{ content_footer }}
                </div>
            </div>
            <div class="flex items-center justify-center md:justify-start flex-wrap"> <div>
                    {{ _github() }}
                </div>
                <div>
                    {{ _twitter() }}
                </div>
                <div>
                    {{ _linkedin() }}
                </div>
            </div>
            {# <div class="flex flex-1 text-center justify-center gap-2"> #}
            {{ template_hooks['page_footer']() }}
        </div>
        </footer>
    {% endif %}
{% endmacro %}
