{#  -*- coding: utf-8 -*- #}

{% macro _head_feed_link(link_type, link_name, link_postfix, classification, kind, language) %}
    {% if translations|length > 1 %}
        <link rel="alternate" type="{{ link_type }}" title="{{ link_name|e }} ({{ language }})" hreflang="{{ language }}" href="{{ _link(kind + '_' + link_postfix, classification, language) }}">
    {% else %}
        <link rel="alternate" type="{{ link_type }}" title="{{ link_name|e }}" hreflang="{{ language }}" href="{{ _link(kind + '_' + link_postfix, classification, language) }}">
    {% endif %}
{% endmacro %}

{% macro _rss_svg() %}
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M5 3a1 1 0 000 2c5.523 0 10 4.477 10 10a1 1 0 102 0C17 8.373 11.627 3 5 3z" />
        <path d="M4 9a1 1 0 011-1 7 7 0 017 7 1 1 0 11-2 0 5 5 0 00-5-5 1 1 0 01-1-1zM3 15a2 2 0 114 0 2 2 0 01-4 0z" />
    </svg>
{% endmacro %}

{% macro _html_feed_link(link_type, link_name, link_postfix, classification, kind, language, name=None) %}
    <a href="{{ _link(kind + '_' + link_postfix, classification, language) }}" hreflang="{{ language }}" type="{{ link_type }}" class="btn gap-2 force-no-underline">
        <div class="flex-none text-neutral-content">
            {{ _rss_svg() }}
        </div>
        <div class="text-neutral-content">
        {% if translations|length > 1 %}
            {% if name and kind != "archive" and kind != "author" %}
                {{ messages(link_name, language) }} ({{ name|e }}, {{ language }})
            {% else %}
                {{ messages(link_name, language) }} ({{ language }})
            {% endif %}
        {% else %}
            {% if name and kind != "archive" and kind != "author" %}
                {{ messages(link_name, language) }} ({{ name|e }})
            {% else %}
                {{ messages(link_name, language) }}
            {% endif %}
        {% endif %}
        </div>
    </a>
{% endmacro %}

{% macro _html_translation_link(classification, kind, language, name=None) %}
    {% if name and kind != "archive" and kind != "author" %}
        <a href="{{ _link(kind, classification, language) }}" hreflang="{{ language }}" rel="alternate">{{ messages("LANGUAGE", language) }} ({{ name|e }})</a>
    {% else %}
        <a href="{{ _link(kind, classification, language) }}" hreflang="{{ language }}" rel="alternate">{{ messages("LANGUAGE", language) }}</a>
    {% endif %}
{% endmacro %}

{% macro _head_rss(classification=None, kind='index', rss_override=True) %}
    {% if rss_link and rss_override %}
        {{ rss_link }}
    {% endif %}
    {% if generate_rss and not (rss_link and rss_override) and kind != 'archive' %}
        {% if translations|length > 1 and has_other_languages and classification and kind != 'index' %}
            {% for language, classification, name in all_languages %}
                <link rel="alternate" type="application/rss+xml" title="RSS for {{ kind }} {{ name|e }} ({{ language }})" hreflang="{{ language }}" href="{{ _link(kind + "_rss", classification, language) }}">
            {% endfor %}
        {% else %}
            {% for language in translations_feedorder %}
                {% if (classification or classification == '') and kind != 'index' %}
                    {{ _head_feed_link('application/rss+xml', 'RSS for ' + kind + ' ' + classification, 'rss', classification, kind, language) }}
                {% else %}
                    {{ _head_feed_link('application/rss+xml', 'RSS', 'rss', classification, 'index', language) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro _head_atom(classification=None, kind='index') %}
    {% if generate_atom %}
        {% if translations|length > 1 and has_other_languages and classification and kind != 'index' %}
            {% for language, classification, name in all_languages %}
                <link rel="alternate" type="application/atom+xml" title="Atom for {{ kind }} {{ name|e }} ({{ language }})" hreflang="{{ language }}" href="{{ _link(kind + "_atom", classification, language) }}">
            {% endfor %}
        {% else %}
            {% for language in translations_feedorder %}
                {% if (classification or classification == '') and kind != 'index' %}
                    {{ _head_feed_link('application/atom+xml', 'Atom for ' + kind + ' ' + classification, 'atom', classification, kind, language) }}
                {% else %}
                    {{ _head_feed_link('application/atom+xml', 'Atom', 'atom', classification, 'index', language) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}

{#  Handles both feeds and translations #}
{% macro head(classification=None, kind='index', feeds=True, other=True, rss_override=True, has_no_feeds=False) %}
    {% if feeds and not has_no_feeds %}
        {{ _head_rss(classification, 'index' if (kind == 'archive' and rss_override) else kind, rss_override) }}
        {{ _head_atom(classification, kind) }}
    {% endif %}
    {% if other and has_other_languages and other_languages %}
        {% for language, classification, _ in other_languages %}
            <link rel="alternate" hreflang="{{ language }}" href="{{ _link(kind, classification, language) }}">
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro feed_link(classification, kind) %}
    {% if generate_atom or generate_rss %}
        {% if translations|length > 1 and has_other_languages and kind != 'index' %}
            {% for language, classification, name in all_languages %}
                <div class="feedlink">
                    {% if generate_atom %}
                        {{ _html_feed_link('application/atom+xml', 'Atom feed', 'atom', classification, kind, language, name) }}
                    {% endif %}
                    {% if generate_rss and kind != 'archive' %}
                        {{ _html_feed_link('application/rss+xml', 'RSS feed', 'rss', classification, kind, language, name) }}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            {% for language in translations_feedorder %}
                <div class="feedlink">
                    {% if generate_atom %}
                        {{ _html_feed_link('application/atom+xml', 'Atom feed', 'atom', classification, kind, language) }}
                    {% endif %}
                    {% if generate_rss and kind != 'archive' %}
                        {{ _html_feed_link('application/rss+xml', 'RSS feed', 'rss', classification, kind, language) }}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro translation_link(kind) %}
    {% if has_other_languages and other_languages %}
        <div class="translationslist translations">
            <h3 class="translationslist-intro">{{ messages("Also available in:") }}</h3>
        {% for language, classification, name in other_languages %}
            <p>{{ _html_translation_link(classification, kind, language, name) }}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
