{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'comments_helper.tmpl' as comments with context %}
{% import 'ui_helper.tmpl' as ui with context %}
{% import 'post_helper.tmpl' as post_helper with context %}
{% block sourcelink %}{% endblock %}

{# Overwrite prose from base.tmpl! #}
{# As this is a "heavy" customized page, prose is hurting fine-tuning! #}
{% block wrap_prose %}
{% endblock  %}

{% block content %}
    {# {{ ui.breadcrumbs(crumbs) }} #}
    {# FUTURE: Add option to use category tag from tags.tmpl #}
    {# TODO: Write a map generator script that reads values from a csv file #}
    {# FUTURE: Maybe make the baguette titles a bit cleaner #}
    <div class="{{ prose_global_option }} max-w-full">
    {% if title %}
        <h1>{{ title|e }}</h1>
    {% endif %}
    {% if post %}
    <p>
        {{ post.text() }}
    </p>
    </div>
    {% endif %}
    {% if folders %}
        {% if galleries_use_thumbnail %}
            {% for (folder, ftitle, fpost) in folders %}
            <div class="thumnbnail-container card text-neutral-content bg-base-300 md:card-side bordered w-4/5 mx-auto">
                {# <a href="{{ folder }}" class="thumbnail image-reference" title="{{ ftitle|e }}"> #}
                    <figure>
                    {% if fpost and fpost.previewimage %}
                        {# FUTURE: Maybe allow dynamic bg-setting #}
                        <img src="{{ fpost.previewimage }}" alt="{{ ftitle|e }}" loading="lazy" style="max-height:{{ thumbnail_size }}px;" class="object-contain bg-black"/>
                    {% else %}
                        <div style="height: {{ thumbnail_size }}px; width: {{ thumbnail_size }}px; background-color: #eee;"></div>
                    {% endif %}
                    </figure>
                    <div class="card-body flex">
                        <div class="flex-grow">
                            <h2 class="thumbnail-caption card-title">{{ ftitle|e }}</h2>
                        {% if fpost and fpost.description %}
                            <p>{{ fpost.description() }}</p>
                        {% endif %}
                        </div>
                        <div class="card-actions justify-end">
                            <a href="{{ folder }}" class="btn btn-primary thumbnail image-reference">Take a peek</a>
                            {# FUTURE: Add links where to buy it from! #}
                        </div>
                    </div>
                {# </a> #}
            </div>
            {% endfor %}
        {% else %}
            <ul>
            {% for folder, ftitle in folders %}
                <li><a href="{{ folder }}">📂&nbsp;{{ ftitle|e }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

<div class="m-16"></div> {# Add extra space #}
{% if photo_array %}
<div class="card bordered bg-gray-800">
  <div class="card-body">
    <div id="gallery_container"></div>
  </div>
</div>
<noscript>
<ul class="thumbnails">
    {% for image in photo_array %}
        <li><a href="{{ image['url'] }}" class="thumbnail image-reference" title="{{ image['title']|e }}">
            <img src="{{ image['url_thumb'] }}" alt="{{ image['title']|e }}" loading="lazy" /></a>
    {% endfor %}
</ul>
</noscript>
<div class="m-16"></div> {# Add extra space #}
{% endif %}
{% if site_has_comments and enable_comments %}
    {{ comments.comment_form(None, permalink, title) }}
{% endif %}
{% endblock %}

{% block extra_head %}
{{ super() }}
<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">
<style type="text/css">
    #gallery_container {
        position: relative;
    }
    .image-block {
        position: absolute;
    }
</style>
{% if translations|length > 1 %}
    {% for langname in translations.keys() %}
         {% if langname != lang %}
             <link rel="alternate" hreflang="{{ langname }}" href="{{ _link('gallery', gallery_path, langname) }}">
         {% endif %}
    {% endfor %}
{% endif %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">
{% if post %}
    {{ post_helper.open_graph_metadata(post) }}
    {{ post_helper.twitter_card_information(post) }}
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="/assets/js/justified-layout.min.js"></script>
<script src="/assets/js/gallery.min.js"></script>
<script>
var jsonContent = {{ photo_array_json }};
var thumbnailSize = {{ thumbnail_size }};
renderGallery(jsonContent, thumbnailSize);
window.addEventListener('resize', function(){renderGallery(jsonContent, thumbnailSize)});
</script>
{% endblock %}
