{#
 # REQUIRES: TAILWINDCSS, DAISY UI, ALPINE.JS!
 # Removes the execution count window (just noise in my opinion)
 # Provides animated collapsible input/output buttons
 # given the correct metadata.
 # Closely designed with theme specification/tags.
#}

{%- extends 'lab/base.html.j2' -%}

{# Hide execution count; Nobody needs to see that #}
{% block in_prompt -%}
{# <div class="prompt input_prompt">
    {%- if cell.execution_count is defined -%}
        In&nbsp;[{{ cell.execution_count|replace(None, "&nbsp;") }}]:
    {%- else -%}
        In&nbsp;[&nbsp;]:
    {%- endif -%}
</div> #}
{%- endblock in_prompt %}

{% block output_area_prompt %}
{%- if output.output_type == 'execute_result' -%}
{# Hide execution count; Nobody needs to see that #}
    <div class="prompt output_prompt">
    {# {%- if cell.execution_count is defined -%}
        Out[{{ cell.execution_count|replace(None, "&nbsp;") }}]:
    {%- else -%}
        Out[&nbsp;]:
    {%- endif -%} #}
{%- else -%}
    <div class="prompt">
{%- endif -%}
    </div>
{% endblock output_area_prompt %}

{# Could add the css resource here #}
{% block extra_css %}
{% endblock extra_css %}

{# If collapsed_hide/collapsed_show in tags/metadata than add button #}
{% macro collapse(name, default_show="false") -%}
    <div x-data="{ open: {{ default_show }} }">
        <button type="button" class="btn btn-square rounded-none w-full px-8 py-6 content-center no-animation gap-2" x-on:click="open = ! open">
            <span x-show="open" {{ "x-cloak" if default_show == "false"}}>Hide </span>
            <span x-show="! open" {{ "x-cloak" if default_show != "false"}}>Show </span>
            <span>
                {{ name }}
            </span>
        </button>
        <div x-show="open"
            {{ "x-cloak" if default_show == "false" }}
            x-transition:enter="transition ease-in duration-150"
            x-transition:enter-start="opacity-0 transform -translate-y-2"
            x-transition:enter-end="opacity-100 transform"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-end="opacity-0 transform -translate-y-2">
            {{ caller() }}
        </div>
    </div>
{%- endmacro %}

{% macro adjust_width(cell) %}
{# FUTURE: Write a better function for this! #}
    {% if "max-w-lg" in cell.metadata.tags|default([]) %}
        <div class="mx-auto max-w-lg">
    {% else %}
        <div>
    {% endif %}
            {{ caller() }}
        </div>

{% endmacro %}

{% block output_group %}
{%- if "collapse_output" in cell.metadata.tags|default([]) -%}
    {% call collapse("Output") %}
        {% call adjust_width(cell) %}
            {{ super() }}
        {% endcall %}
    {% endcall %}
{%- else -%}
    {% call adjust_width(cell) %}
        {{ super() }}
    {% endcall %}
{%- endif -%}
{% endblock output_group %}

{% block input_group -%}
{%- if "collapse_show" in cell.metadata.tags|default() -%}
    {% call collapse("Code", default_show="true") %}
        {{ super() }}
    {% endcall %}
{%- elif "collapse_hide" in cell.metadata.tags|default() -%}
    {% call collapse("Code", default_show="false") %}
        {{ super() }}
    {% endcall %}
{%- else -%}
    {{ super() }}
{%- endif -%}
{% endblock input_group %}
