{# data needs to be the youtube embed id for now #}

{% set yid = data.split("/") | last %}

<div class="aspect-w-16 aspect-h-9">
<iframe src="https://www.youtube-nocookie.com/embed/{{ yid }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
